<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ucucite.edu.betterballers">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BetterBallers">
        <activity android:name=".Basketball_Hall_of_fame"></activity>
        <activity android:name=".Basketball_Tournaments" />
        <activity android:name=".Basketball_Playing_Environment" />
        <activity android:name=".Basketball_common_terms" />
        <activity android:name=".Basketball_Variants" />
        <activity android:name=".Basketball_howtoplay" />
        <activity android:name=".Basketball_Equipment" />
        <activity android:name=".BasketBall_Overview" />
        <activity android:name=".BetterBallersList">

        </activity>
        <activity android:name=".SplashScreenBetterBallers"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>